h1 {
	text-align: center;}

h3 {
	font-weight: 500;}


.left {
	width: 48%;
	display: inline-block;
	vertical-align: top;
	border: 1px solid red;
	border-radius: 15px;}

.right {
	width: 48%;
	display: inline-block;
	vertical-align: top;
	border: 1px dashed red;
	border-radius: 15px;}

.last {
	margin-top: 60px;
	margin-bottom: 20px;
	float: right;}

ul {
	font-weight: 300;
	padding: 10px;
	list-style: upper-roman;
	list-style-position: inside;}

ol {
	font-weight: 300;
	padding: 10px;
	list-style-position: inside;}

a:hover {
	text-decoration: underline;}	